// Tipografías usadas en el layout

// Fuentes
$poppins: 'Poppins', sans-serif;
$futura: 'Futura-Normal', arial;
$montserrat: 'Montserrat', sans-serif;

// Pesos de la Tipografía
$Extra_light: 200;
$light: 300;
$regular: 400;
$bold: 700;
